.smallCard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 775px;
}

.smallCard-container > img {
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.smallCard-container h4 {
    margin-bottom: 0px;
}

.smallCard-container p {
    display: flex;
    justify-items: flex-start;

}

.smallCard-container > div {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    padding: 5px;
}